email=devopstrainingblr@gmail.com
#always-auth=true
registry=http://13.61.152.68:8081/repository/zss-nodeJs-repo///13.61.152.68:8081/repository/zss-nodeJs-repo/:_auth=YWRtaW46em9oYWli
always-auth=true
